<app-title title="Cart page"></app-title>

<div class="cart-container">
    <div class="table-div">
<table class="table table-responsive ">
    <tbody>
        @for(cartItem of foodArray; track cartItem){
            <tr>
                <td><div class="food-image">
                    <img [src]="cartItem" alt="">
                </div></td>
                <div>
                    
                </div>
                <td >Food Name</td>
                <td>
                   <select name="" id="">
                    <option value="1">Qty</option>
                    <option value="1">1</option>
                   </select>
                </td>
                <td>Price</td>
                <td><button class="remove-btn">Remove</button></td>
            </tr>
        }
        @empty {
            <p>No items in cart.</p>
        }
      
    </tbody>
</table>
    </div>
    <div class="total">
<p>Count : 6</p>
<p>Total Price : 1000$</p>
<div class="order-button">
    <button class="order-btn">Place Order</button>
</div>

    </div>
</div>
