<div class="container">
    <div class="row">
      <div class="col-md-4 offset-md-4">
        <h1 class="text-center">Login</h1>
        <form action="" [formGroup]="loginForm">
       
        <div class="form-group mt-4">
          <label for="">Email</label>
          <input type="email" required class="form-control" formControlName="email" />
        </div>
  
        <div class="form-group mt-4">
          <label for="">Password</label>
          <input type="password" required class="form-control"  formControlName="password"/>
        </div>
      
      </form>
     
        <div class="d-grid mt-3 ">
          <button class="btn btn-block btn-danger " (click)="login()">Login</button>
        </div>
        <p class="text-center mt-3">Dont have an account <a routerLink="/register">Register</a></p>
      </div>
    </div>
  </div>
  
