<header>
    <div class="header-container">
        <a routerLink="/" class="logo">Foodoo</a>
        <nav>
            <ul>
                <li>
                    <a routerLink="/login" >Login </a>
                </li>
                <li class="menu-container">
<a href="/dashboard">Pooja Agrawal</a>
                </li>
                <li>
                    <div class="menu">
                        <a href="/profile">Profile</a>
                        <a href="/order">Order</a>
                        <a href="/logout">Logout</a>
                    </div>
                </li>
                <li>
                    <a href="/my-cart">My Cart <span>&nbsp;3</span></a>
                </li>
              
            </ul>
        </nav>
    </div>
</header>
